:root{
--space-1:4px;
--space-2:8px;
--space-3:12px;
--space-4:16px;
--space-5:20px;
--space-6:24px;
--space-8:32px;
--space-9:36px;
--space-10:40px;
--space-12:48px;
--space-15:60px;
--space-20:80px;
--space-25:100px;
--section-padding-x:100px;
--section-padding-x-mobile:24px;
--radius-xs:8px;
--radius-sm:10px;
--radius-md:16px;
--radius-lg:20px;
--radius-xl:24px;
--radius-2xl:30px;
--radius-pill:9999px;
--container-max:1240px
}
